@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

html {
	overflow-x: hidden;
}

@theme {
	--white: #faf9f9;
	--light-mint: #add2c9;
	--mint: #5ea3a3;
	--dark-mint: #488b8f;

	--bg-light: hsl(0, 0%, 100%);
	--bg: hsl(0, 0%, 95%);
	--bg-dark: hsl(0, 0%, 90%);

	--text: hsl(0, 0%, 5%);
	--text-muted: hsl(0, 0%, 30%);

	--light-gray: hsl(0, 0%, 60%);
	--gray: hsl(0, 0%, 50%);
	--dark-gray: hsl(0, 0%, 70%);

	--accent-light: hsl(175, 30%, 80%);
	--accent: hsl(180, 30%, 50%);
	--accent-dark: hsl(185, 30%, 40%);

	--alert-red: hsl(0, 50%, 60%);
	--alert-red-dark: hsl(0, 50%, 50%);
	--alert-yellow: hsl(50, 50%, 60%);
	--alert-yellow-dark: hsl(50, 50%, 50%);
	--alert-green: hsl(145, 50%, 60%);
	--alert-green-dark: hsl(145, 50%, 50%);
	--alert-blue: hsl(220, 50%, 60%);
	--alert-blue-dark: hsl(220, 50%, 50%);
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
